
<section class="airlines container py-5">
    <div class="row justify-content-center align-items-center g-3 g-md-4 mt-4">
        <div class="col-4 col-sm-2">
            <img src="assets/airlineComp/axon.svg" alt="Axon" class="airline-img axon img-fluid" />
        </div>
        <div class="col-4 col-sm-2">
            <img src="assets/airlineComp/jetStar.svg" alt="JetStar" class="airline-img jetstar img-fluid" />
        </div>
        <div class="col-4 col-sm-2">
            <img src="assets/airlineComp/expedia.svg" alt="Expedia" class="airline-img expedia img-fluid" />
        </div>
        <div class="col-4 col-sm-2">
            <img src="assets/airlineComp/Qantas.svg" alt="Qantas" class="airline-img qantas img-fluid" />
        </div>
        <div class="col-4 col-sm-2">
            <img src="assets/airlineComp/Alitalia.svg" alt="Alitalia" class="airline-img alitalia img-fluid" />
        </div>
    </div>
</section>