

<section class="hero">
    <!-- Planes -->
    <img src="assets/plane.svg" alt="Plane" class="plane plane1" />
    <img src="assets/plane.svg" alt="Plane" class="plane plane2" />

    <section class="hero container">
        <div class="hero-text">
            <h6>Best destinations around the world</h6>
        <h1>
            Travel,
            <span class="underline-enjoy">enjoy</span><br />
            and live a new<br />and full life
        </h1>

            <p>
                Built Wicket longer admire do barton vanity itself do in it.
                Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the.
            </p>
            <div class="d-flex align-items-center gap-4">
                <button class="btn-primary-custom">Find out more</button>
                <button class="btn-demo"><i class="bi bi-play-fill"></i>Play Demo</button>
            </div>
        </div>

        <div class="hero-img">
            <img src="assets/Traveller1.svg" alt="Traveler" />
        </div>
    </section>
</section>